<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-5">
            <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Subjects</h5>
            <h1>Liste des Universites</h1>
            <div class="mb-5">
                <form action="">
                    <div class="input-group">
                        <input (keyup)="onKeyUp($event)" type="text" class="form-control form-control-lg" placeholder="Keyword">
                        <div class="input-group-append">
                            <span class="input-group-text bg-transparent text-primary"><i
                                    class="fa fa-search"></i></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div  class="col-lg-3 col-md-6 mb-4" *ngFor="let universite of list">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="assets/img/cat-5.jpg" alt="">
                    <a class="cat-overlay text-white text-decoration-none" [routerLink]="['Detail',universite.idUniv]">
                        <h4 class="text-white font-weight-medium">{{universite.nomUniv}}</h4>
                        <span>{{universite.departemnts?.length}} Departemnts</span>
                    </a>
                </div>
            </div>
            
        </div>
    </div>
</div>

<router-outlet></router-outlet>