.btn{
    font-size: 17px; 
    margin-left: -10px;
    margin-top: -20px;
}

.thematique{
    width: 48%;
}

.couleur{
    color: red;
}

.titreAjout{
    letter-spacing: 5px;
    font-size: 40px;
    font-weight:bolder;
}
